<div>
    <p>Hello {{ user_data.username }},<p>

    <p> You have requested access to the lab <i> {{ user_data.lab_short_name }}</i>.</p>

    <p> The reason for your request is:</p>

    <p style="margin-left: 10px;"> {{ user_data.user_reason }} </p>

    <p> 
        The process for approval may take up to a few weeks.
        If approved, an OSL Admin will email you when access is granted.
    </p>

    <p> If you have any questions, let us know. </p>

</div>