lab_short_name: mydevlab
days_till_warning_email: 0
days_till_deletion_email: 0
days_till_snapshot_deletion: 0
cluster_name: mylocaldevlab
portal_domain: {{ portal['portal_domain'] }}
aws_region: {{ parameters['aws_region'] }}
admin_user: {{ portal['admin_user'] }}